<br>
<div class="row">  
<% @savings.each do |saving| %>
    <div class="col-xs-2 col-sm-2">
      <%= link_to saving.title, saving %><br>
    </div>
    
    <div class="col-xs-2 col-sm-2">
      <%= saving.balance %><br>
    </div>

    <div class="col-xs-2 col-sm-2">
      <%= saving.goal %><br>
    </div>
    <div class="col-xs-2 col-sm-2">
      <%= saving.met %>
        <%= ((saving.balance/saving.goal) * 100).to_s + "%" %>
    </div>
  <br>
<% end %>
</div>