<br>
<div class="row">  
<% @bills.each do |bill| %>
    <div class="col-xs-2 col-sm-2">
      <%= link_to bill.title, bill %><br>
    </div>
    
    <div class="col-xs-2 col-sm-2">
      <%= bill.pro_cost %><br>
    </div>
    
    <div class="col-xs-2 col-sm-2">
    <%= bill.act_cost %><br>
    </div>

    <%= form_for bill do |f| %>
      <div class="col-xs-2 col-sm-2">
        <%= f.text_area :act_cost, class: "form-control", placeholder: "Actual Cost" %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  <br>
<% end %>
</div>