<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-group">
    <%= f.label :title, class: "sr-only" %><br>
    <%= f.text_field :title, class: "form-control", placeholder: "Enter Business Name" %>
  </div>
<br>
  <div class="form-group">
    <%= f.label :pro_cost, class: "sr-only" %><br>
    <%= f.text_area :pro_cost, class: "form-control", placeholder: "Projected Cost" %>
  </div>
  <br>
   <div class="form-group">
    <%= f.label :act_cost, class: "sr-only" %><br>
    <%= f.text_area :act_cost, class: "form-control", placeholder: "Actual Cost" %>
  </div><br />
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
