<br>
<table class="table">
  <tbody>
    <tr> 
<% @bills.each do |bill| %>
    <td style="width:25%"><%= link_to bill.title, bill %></td>
    <td style="width:25%"><%= bill.pro_cost %></td>
    <td style="width:25%"><%= bill.act_cost %></td>

    <td style="width:25%"><%= form_for bill do |f| %>
        <%= f.text_area :act_cost, class: "form-control", placeholder: "Actual Cost" %>
      
      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </td>
</tr>
</tbody>
<% end %>
</table>