<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
      <h4>Income</h4>
      <% @incomes.each do |income| %>
        <div class="col-xs-4 col-sm-4">
            <div>
              <%= link_to income.title, income %>
            </div><!-- panel-heading -->
        </div>
        <div class="col-xs-4 col-sm-4">  
            <div>
              <%= income.pro_income %>
            </div><!-- panel-heading -->
        </div>
         <div class="col-xs-4 col-sm-4">  
            <div>
              <%= income.act_income %>
            </div><!-- panel-heading -->
        </div>
         <div class="col-xs-4 col-sm-4">  
           <div>
              <%= render 'actual' %>
            </div><!-- panel-heading -->
        </div><!-- ol-xs-12 col-sm-4 -->
      <% end %>
    </div><!-- row -->
  </div>
<%= link_to 'New Income', new_income_path %>
    <br>
  <div class="container">
    <div class="row">
      <h4>Bills</h4>
      <% @bills.each do |bill| %>
        <div class="col-xs-4 col-sm-4">
            <div>
              <%= link_to bill.title, bill %>
            </div><!-- panel-heading -->
        </div>
        <div class="col-xs-4 col-sm-4">
            <div>
              <%= bill.pro_cost %>
            </div><!-- panel-heading -->
        </div>
        <div class="col-xs-4 col-sm-4">
            <div>
              <%= render 'cost' %>
            </div><!-- panel-heading -->
        </div><!-- ol-xs-12 col-sm-4 -->
      <% end %>
    </div><!-- row -->
  </div>
<%= link_to 'New Bill', new_bill_path %>
    <br>
  <div class="container">
    <div class="row">
      <h4>Savings</h4>
      <% @savings.each do |saving| %>
        <div class="col-xs-4 col-sm-4">
          <div>
            <%= link_to saving.title, saving %>
          </div><!-- panel-heading -->
        </div><!-- panel-default -->
        <div class="col-xs-4 col-sm-4">
          <div>
            <%= saving.balance %>
          </div><!-- panel-heading -->
        </div><!-- panel-default -->
        <div class="col-xs-4 col-sm-4">
          <div>
            <%= render 'deposit' %>
          </div><!-- panel-heading -->
        </div><!-- ol-xs-12 col-sm-4 -->
      <% end %>
    </div><!-- row -->
  </div>
<%= link_to 'New saving', new_saving_path %>