<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bill.title %>
</p>

<p>
  <strong>Projected:</strong>
  <%= @bill.pro_cost %>
</p>

<p>
  <strong>Actual:</strong>
  <%= @bill.act_cost %>
</p>
<%= link_to 'Back', bills_path %>
<%= link_to 'Edit', edit_bill_path(@bill) %>
<%= link_to 'Destroy', @bill, method: :delete, data: { confirm: 'Are you sure?' } %>

