<br> 
<table class="table">
  <tbody>
    <tr>
<% @incomes.each do |income| %>
  
     <td style="width:25%"><%= link_to income.title, income %></td>
     <td style="width:25%"><%= income.pro_income %></td>
     <td style="width:25%"><%= income.act_income %></td>
    
      <td style="width:25%"><%= form_for income do |f| %>
        <%= f.text_area :act_income, class: "form-control", placeholder: "Actual Income" %>
      
        <div class="actions">
          <%= f.submit class: "btn btn-primary" %>
        </div> 
      <% end %>
      </td>
    </tr>
  </tbody>
<% end %>
</table>
