<br>
<div class="row">  
<% @incomes.each do |income| %>
    <div class="col-xs-2 col-sm-2">
      <%= link_to income.title, income %><br>
    </div>
    
    <div class="col-xs-2 col-sm-2">
      <%= income.pro_income %><br>
    </div>
    
    <div class="col-xs-2 col-sm-2">
    <%= income.act_income %><br>
    </div>

    <%= form_for income do |f| %>
      <div class="col-xs-2 col-sm-2">
        <%= f.text_area :act_income, class: "form-control", placeholder: "Actual Income" %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  <br>
<% end %>
</div>
