<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @income.title %>
</p>

<p>
  <strong>Projected:</strong>
  <%= @income.pro_income %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', bills_path %>
<%= link_to 'Destroy', @income, method: :delete, data: { confirm: 'Are you sure?' } %>